.container {
    width: 210px;
    height: 150px;
    margin-left: 20px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.9s  ease-in-out ;
}

.container:hover{
    zoom : 1.15;
}

.content{
    width: 186px;
    height: 130px;
    margin : 10px 0 0 12px;
}

.main{
    height: 100px;
    display: flex;
}

.left{
    width: 93px;
    height: 100%;
}

.left img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: 0;
}

.left p{
    margin-top: 10px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.right{
    margin-left: 7px;
}

.product-name{
    margin-top: 3px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.brand-name{
    margin-top: 10px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.price{
    margin-top:11px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.date{
    margin-top : 5px;
    font-family: SF Pro Rounded;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
}
.date p{
    margin:  0;
    font-size: 0.8em;
    display: inline;
}

span{
    display: block;
}

.bottom p{
    margin-top: 15px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.6);

}
